<section *ngrxLet="user$ as user">
  <h1>
    Good news, <span class="nh--text-primary">{{ user?.firstName }} {{ user?.lastName }}!</span>
    <img
      src="assets/good-news.png"
      alt="Professor"
      id="professor"
    />
  </h1>

  <p class="nh--text-xl">
    Эта страница доступна только авторизованным пользователям! И Вы тут :)
  </p>
</section>

<section>
  <h2 class="nh--mb-4">Пользователи</h2>

  <div class="card">
    <tui-notification class="nh--mb-4" status="warning">
      Эти логины замоканы и используются только для демонстрации!
    </tui-notification>

    <table class="tui-table">
      <tbody>
        <tr class="tui-table__tr">
          <th class="tui-table__th">ID</th>
          <th class="tui-table__th">Имя</th>
          <th class="tui-table__th">Логин</th>
          <th class="tui-table__th">и даже пароль</th>
          <th class="tui-table__th">ICQ</th>
        </tr>
        <tr *ngFor="let user of users" class="tui-table__tr">
          <td class="tui-table__td">{{ user.id }}</td>
          <td class="tui-table__td">
            {{ user.firstName }} {{ user.lastName }}
            <tui-badge
              *ngIf="(user$ | async)?.id === user.id"
              class="md:nh--ml-2"
              size="s"
              status="success"
              value="Это Вы"
            ></tui-badge>
          </td>
          <td class="tui-table__td">
            <code>{{ user.username }}</code>
          </td>
          <td class="tui-table__td">
            <code>{{ user.password }}</code>
          </td>

          <td class="tui-table__td">
            <code><a rel="noopener noreferrer"
                           target="_blank" tuiLink [href]="'https://icq.im/' + user.ICQ">{{ user.ICQ }}</a> </code>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
