footer {
  @apply nh--px-6
  nh--py-4;

  .links {
    a {
      padding: 10px 5px;
      display: inline-block;

      fa-icon {
        font-size: 20px;
        width: 25px;
      }

      span {
        font-size: 14px;
        padding: 0 0 0 3px;
        @apply nh--hidden md:nh--inline;
      }
    }
  }
}
